---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home">
  <main>
    <h1>The Cybereason Defense Platform</h1>
    <div class="container">
      <div class="column column1">
        <div class="plus-icon">+</div>
        <div class="title">Endpoint Protection ⭐</div>
        <h3>Detect and respond to <br> cyber threats faster</h3>
        <p>
          Tackle the challenges of simplifying threat detection and response and leveraging AI/ML models to reduce the constraints on SOC and IT security teams.
        </p>
        <div class="learn">➔</div>
      </div>
      <div class="column column2">
         <div class="plus-icon">+</div>
        <div class="title">  Surface Protection ⭐</div>
        <h3>Detect and respond to <br> cyber threats faster</h3>
        <p>
          Tackle the challenges of simplifying threat detection and response and leveraging AI/ML models to reduce the constraints on SOC 
        </p>
        <div class="learn">➔</div>
      </div>
      <div class="column column3">
         <div class="plus-icon">+</div>
        <div class="title">Security  Optimization ⭐</div>
        <h3>Maximize efficiency in<br> threat management</h3>
        <p>
          Streamline security operations and enhance operational efficiency with optimized threat detection and incident response.
        </p>
        <div class="learn">➔</div>
      </div>
      <div class="column column4">
         <div class="plus-icon">+</div>
        <div class="title"> Incident Management ⭐</div>
        <h3>Stay ahead of threats<br> with incident insights</h3>
        <p>
          Manage your security posture and incident response processes to effectively mitigate risks and vulnerabilities.
        </p>
        <div class="learn">➔</div>
      </div>
      <div class="column column5">
         <div class="plus-icon">+</div>
        <div class="title">MalOp Detection Engine ⭐</div>
        <h3>Advanced threat detection<br> with MalOps</h3>
        <p>
          Leverage the MalOp Detection Engine for advanced threat intelligence and streamlined incident response workflows.
        </p>
        <div class="card"></div>
        <div class="learn">➔</div>
      </div>
    </div>
  </main>
</Layout>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  h1 {
    text-align: center;
    color: #ffc107;
    font-size: 3rem;
    font-weight: bolder;
  }

  .container {
    margin: 20px auto;
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 600px;
  
  }

  .column {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: all 0.2s ease-in-out;
    position: relative;
    background-color: #333;
 
  }
.title{
   
       font-size: 1em;
    font-weight: bold;
    writing-mode: vertical-rl;
 
  }



  .learn {
    background-color: #000000;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
  .column:hover .learn{
    color: #000000;
    background-color: #ffffff;
  }
  .column:hover .plus-icon{
    color:#ffbf00
  }
  .plus-icon{
    color: #fff;
    font-weight: bolder;
    font-size: 3rem;
    position: absolute;
     left: 50%;
    transform: translateX(-50%);
    top: 20px;
  }

  .column h3 {
    font-size: 1.1em;
    margin: 15px auto;
  }

  .column p {
    display: none;
    width: 80%;
    margin: 10px auto;
    text-transform: none;
    font-size: 0.9em;
    margin-bottom: 50px;
  }

  .column:hover {
    flex: 2;
    transform: scale(1.05);
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 10px;
    z-index: 1;
  }

  .column:hover h3 {
    color: #fff;
  }

  .column:hover p {
    display: block;
  }

  .column1 {
    background-color: #6d6d6d;
  }

  .column1:hover {
    background-image: url('img1.jpg');
     opacity: 0.9
  }

  .column2 {
    background-color: #ffc107;
  }

  .column2:hover {
    background-image: url('img2.jpg');
    
  }

  .column3 {
    background-color: #8b8b8b;
  }

  .column3:hover {
    background-image: url('img3.jpg');
    opacity: 0.8;
  }

  .column4 {
    background-color: #474646;
  }

  .column4:hover {
    background-image: url('img4.jpg');
    opacity: 0.8;
  }

  .column5 {
    background-color: #a3b7c3;
  }

  .column5:hover {
    background-image: url('img5.jpg');
     opacity: 0.9;
  }

   .column:hover::after {
            content: '';
            position: absolute;
          bottom:70px;
            width: 90%;
            height: 2px;
            background-color: #ffffff;
            margin-top: 15px;
        }
</style>
